datacenter = "{{ datacenter }}"
data_dir = "{{ data_dir }}"
log_level = "INFO"
node_name = "{{ node_name }}"
server = true
bind_addr = "{{ bind_addr }}"
client_addr = "{{ client_addr }}"

ui_config {
  enabled = true
}

bootstrap_expect = 1

acl = {
  enabled = true
  default_policy = "deny"
  enable_token_persistence = true
}
