

                              .
                             / V\
                           / `  /
                          <<   |
                          /    |
                        /      |
                      /        |
                    /    \  \ /
                   (      ) | |
           ________|   _/_  | |
         <__________\______)\__)

Server is Managed by OpsWork Swiss Knife

* Link: https://github.com/Clivern/OpsWork
* Version: {{ version }}
