#!/usr/bin/env bash

help () {
    echo "
Description: Sync & reload environment
    $ dsync
------------------------------
Description: Move to project dir
    $ dgo
------------------------------
Description: Search & grep from snippets
    $ petgrep <text>
------------------------------
Description: If site is down
    $ isdown <example.com>
------------------------------
Description: Pipe outout to a URL
    $ sea df
------------------------------
Description: Go to Work Space
    $ gow
------------------------------
Description: Go to Personal Space
    $ gop
------------------------------
Description: URL Shortener
    $ surl <URL>
------------------------------
Description: Get github latest release for a repository
    $ github_latest_release \$author/\$repo
------------------------------
Description: Install specific composer version or latest version
    $ get_composer_phar <version>
------------------------------
Description: Push notification to my devices
    $ pushover <title> <message>
------------------------------
Description: Check go modules checksum
    $ go_lookup author/repo@version
";
}

petgrep () {
    pet list | grep -B 2 "$1"
}

isdown () {
    curl -X GET https://isitup.org/$1.json
}

dsync() {
    cd ~/$DOTFILE_PATH
    ./bootstrap.sh -f
    ./extra.sh
    cd ~
    reload
}

sea() {
    $* 2>&1 | nc seashells.io 1337
}

dgo() {
    cd ~/$DOTFILE_PATH
}

gow() {
    cd ~/Space/Work
}

gop() {
    cd ~/Space/Personal
}

surl() {
    curl -s "http://tinyurl.com/api-create.php?url=$1"
}

github_latest_release() {
    curl --silent "https://api.github.com/repos/$1/releases/latest" |
    jq '.tag_name' |
    sed -E 's/.*"([^"]+)".*/\1/'
}

get_composer_phar() {
    rm ./composer.phar
    php -r "copy('https://getcomposer.org/installer', 'composer-setup.php');"
    [ -z "$1" ] && php composer-setup.php || php composer-setup.php --version=$1
    php -r "unlink('composer-setup.php');"
    ./composer.phar -v
}

surl() {
    curl -s "http://tinyurl.com/api-create.php?url=$1"
}

go_lookup() {
    curl --silent https://sum.golang.org/lookup/github.com/$1
}

pushover() {
    curl -s \
        --form-string "token=$PUSHOVER_TOKEN" \
        --form-string "user=$PUSHOVER_USER" \
        --form-string "title=$1" \
        --form-string "sound=none" \
        --form-string "message=$2" \
        https://api.pushover.net/1/messages.json
}
