#!/usr/bin/env bash

help () {
    echo "
Description: Sync & reload environment
    $ dsync
------------------------------
Description: Move to project dir
    $ dgo
------------------------------
Description: Search & grep from snippets
    $ petgrep <text>
------------------------------
Description: If site is down
    $ isdown <example.com>
------------------------------
Description: Pipe outout to a URL
    $ sea df
------------------------------
Description: Go to Work Space
    $ gow
------------------------------
Description: Go to Personal Space
    $ gop
------------------------------
Description: URL Shortener
    $ surl <URL>
------------------------------
Description: Get github latest release for a repository
    $ github_latest_release \$author/\$repo
";
}

petgrep () {
    pet list | grep -B 2 "$1"
}

isdown () {
    curl -X GET https://isitup.org/$1.json
}

dsync() {
    cd ~/$DOTFILE_PATH
    ./bootstrap.sh -f
    ./extra.sh
    cd ~
    reload
}

sea() {
    $* 2>&1 | nc seashells.io 1337
}

dgo() {
    cd ~/$DOTFILE_PATH
}

gow() {
    cd ~/Space/Work
}

gop() {
    cd ~/Space/Personal
}

surl() {
    curl -s "http://tinyurl.com/api-create.php?url=$1"
}

github_latest_release() {
    curl --silent "https://api.github.com/repos/$1/releases/latest" |
    jq '.tag_name' |
    sed -E 's/.*"([^"]+)".*/\1/'
}
