ansible==10.4.0
ansible-core==2.17.4
ansible-runner==2.4.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
cryptography==43.0.0
docutils==0.21.2
gitdb==4.0.11
GitPython==3.1.43
greenlet==3.1.0
idna==3.8
Jinja2==3.1.4
lockfile==0.12.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
msgpack==1.1.0
opswork==0.8.18
packaging==24.1
pexpect==4.9.0
pexy==0.9.4
prettytable==3.11.0
ptyprocess==0.7.0
pycparser==2.22
Pygments==2.18.0
pynvim==0.5.0
python-daemon==3.0.1
PyYAML==6.0.2
requests==2.32.3
resolvelib==1.0.1
rich==13.7.1
smmap==5.0.1
urllib3==2.2.2
wcwidth==0.2.13
