# ~/.profile: executed by Bourne-compatible login shells.

if [ "$BASH" ]; then
  if [ -f ~/.bashrc ]; then
    . ~/.bashrc
  fi
fi

mesg n 2> /dev/null || true

if [ -f ~/.aliases ]; then
  source ~/.aliases
fi

if [ -f ~/.exports ]; then
  source ~/.exports
fi

if [ -f ~/.functions ]; then
  source ~/.functions
fi

# Load pipx bin
export PATH="$PATH:/root/.local/bin"
