[Unit]
Description=ngrok
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/local/bin/ngrok start --all --config /root/.config/ngrok/ngrok.yml

[Install]
WantedBy=multi-user.target
