
# Dynamic Environmental Variables
export OPENAI_API_KEY=$(op secret get clivern/ai/openai_api_key -o json | jq -r '.[0].value')
export GOOGLE_API_KEY=$(op secret get clivern/ai/google_palm_api_key -o json | jq -r '.[0].value')
export NGROK_KEY=$(op secret get clivern/ngrok_key -o json | jq -r '.[0].value')
export NGROK_DOMAIN=$(op secret get clivern/ngrok_domain -o json | jq -r '.[0].value')
