
# Dynamic environmental variables
export OPENAI_API_KEY="$(op secret get clivern/ai/openai_api_key -o json | jq '.[0].value')"
export GOOGLE_API_KEY="$(op secret get clivern/ai/google_palm_api_key -o json | jq '.[0].value')"
